* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Courier New', Courier, monospace;
    height: 100vh;
    font-size: 15px;
    background-color: seashell;
}

h1 {
    text-align: center;
    font-size: 4em;
    background-color: grey;
    color: white;
}

section {
    border: 2px solid black;
    height: 500;
    width: 750;
    margin: 30px auto;
    background-color: lightblue;
    position: relative;
    overflow: hidden;
}

#dragon {
    position: absolute;
    height: 60px;
    width: 75px;
    left: 300px;
    top: 200px;
    border: 2px solid red;
    z-index: 1;

    .fa-dragon {
        font-size: 4em;
        color: black;
    }
}

.obstacle {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 150px;
    border: 2px solid black;
}

.movingFloor {
    display: flex;
    width: 100%;
    position: absolute;
    bottom: 0;
    z-index: 1;

    -moz-animation: treemove 20s infinite;
    -o-animation: treemove 20s infinite;
    -webkit-animation: treemove 20s infinite;
    animation: treemove 5s infinite linear;

    @keyframes treemove {
        0% {right: 0;}
        25% {right: 50;}
        50% {right: 75;}
        75% {right: 100;}
        100% {right: 125;}
    }

    .tree {
        font-size: 3.5em;
        width: (750px / 8);

        &:nth-child(odd){
            color: green;
        }

        &:nth-child(even){
            color: darkgreen;
        }
    }
}


footer {
    font-weight: bold;
    text-align: center;
}

